extend base

mixin datechanger(date_change)
    -let data = date_changer
    -if(date_change!=undefined)
        -data=date_change.toLocaleString('en-us', {day:'numeric',month: 'long', year: 'numeric'})
    li= `Date: ${data}`
        

block content 
    .document-display
        each document in documents 
            .document-pallet
                ul
                    li= `Type: ${document.type}`
                    li= `Description: ${document.description}`
                    +datechanger(document.date)
                .doc-option.center
                    a.get-doc(href=document.doc_link ) Get Document   
                    button.del-doc-school(value=document.doc_id) Delete