extend base

block content
    .form-div-data
        form.get-form#set-fees-form.left
            p.center Enter The Fees
            label(for="fees-pg") P.G
            input#fees-pg(type="text" name="fees-pg" value=feeDetail.pg placeholder="Fees PG")
            label(for="fees-lkg") L.K.G
            input#fees-lkg(type="text" name="fees-lkg" value=feeDetail.lkg placeholder="Fees LKG")
            label(for="fees-ukg") U.K.G
            input#fees-ukg(type="text" name="fees-ukg" value=feeDetail.ukg placeholder="Fees UKG")
            label(for="fees-one") 1
            input#fees-one(type="text" name="fees-one" value=feeDetail.one placeholder="Fees 1")
            label(for="fees-two") 2
            input#fees-two(type="text" name="fees-two" value=feeDetail.two placeholder="Fees 2")
            label(for="fees-three") 3
            input#fees-three(type="text" name="fees-three" value=feeDetail.three placeholder="Fees 3")
            label(for="fees-four") 4
            input#fees-four(type="text" name="fees-four" value=feeDetail.four placeholder="Fees 4")
            label(for="fees-five") 5
            input#fees-five(type="text" name="fees-five" value=feeDetail.five placeholder="Fees 5")
            label(for="fees-six") 6
            input#fees-six(type="text" name="fees-six" value=feeDetail.six placeholder="Fees 6")
            label(for="fees-seven") 7
            input#fees-seven(type="text" name="fees-seven" value=feeDetail.seven placeholder="Fees 7")
            label(for="fees-eight") 8
            input#fees-eight(type="text" name="fees-eight" value=feeDetail.eight placeholder="Fees 8")
            input#submit-fees-form(type="submit" name="submit" value="Submit")