extend base


block content
    if student    
        .form-div-data
            a#sr-print(href=`/studentInfo/print-one-sr/${student.sr}/${student.id}` target="_blank")
                span Print  
            form#get-student-sr-data.get-form.left.sr-update
                .image-block
                    if(student.image.img_link!=="")
                        img(src=student.image.img_link alt="No pic Found")
                    else
                        img(src="/img/no-pic.png")
                    br
                    span.upload-pic-btn Upload Pic
                    input.upload-pic(type="file" name="pic" id="picUp" accept="image/*")
                label.side-pic(for="sr") Sr
                -let sr_="";
                -if(student.sr=="PG")
                    -sr_ = "PG"
                -if(student.sr=="LKG TO UKG")
                    -sr_ = "PRE PRIMARY"
                -if(student.sr=="1 TO 5")
                    -sr_ = "PRIMARY"
                -if(student.sr=="6 TO 8")
                    -sr_ = "JUNIOR HIGHSCHOOL"
                input.side-pic#student-sr(type="text" value=sr_ name="sr") 
                label.side-pic(for="sr_no") Sr. No.
                input.side-pic#student-sr_no(type="text" value=`${student.sr_no}` name="sr_no")
                label.side-pic(for="prev_sr_no") Prev Sr. No.
                input.side-pic#student-prev_sr_no(type="text" name="prev_sr_no" value=`${student.prev_sr_no}`)
                label.side-pic(for="student") Student's name
                input.side-pic#student-sr-name(type="text" name="student" value=`${student.name}`)
                -const dob_ = student.dob?.toISOString().split('T')[0];
                label.side-pic(for="dob") Date of birth
                input.side-pic#student-sr-dob(type="Date" name="dob" value=dob_)
                label(for="student-sr-dob_in_word") Date of birth(in words)
                input.side-pic_pc#student-sr-dob_in_word(type="text" name="dob_in_word" value=student.dob_in_word)
                label(for="student-sr-class") Class
                input#student-sr-class(type="text" name="class" value=student.class)
                label(for="student-sr-date_of_admission") Date of admission
                -const date_of_admission_= student.date_of_admission?.toISOString().split('T')[0];
                input#student-sr-date_of_admission(type="Date" name="date_of_admission" value=date_of_admission_)
                label(for="student-sr-sex") Sex
                input#student-sr-sex(type="text" name="sex" value=student.sex)
                label(for="caste") Caste
                input#student-sr-caste(type="text" name="caste" value=student.caste)
                label(for="student-sr-religion") Religion
                input#student-sr-religion(type="text" name="religion" value=student.religion)
                label(for="student-sr-nationality") Nationality
                input#student-sr-nationality(type="text" name="nationality" value=student.nationality)
                label(for="student-sr-category") Category
                input#student-sr-category(type="text" name="category" value=student.category)
                label(for="student-sr-father-name") Father's name
                input#student-sr-father-name(type="text" name="father-name" value=`${student.father.name}`)
                label(for="student-sr-mother-name") Mother's name
                input#student-sr-mother-name(type="text" name="mother-name" value=`${student.mother.name}`)
                label(for="student-sr-father-age") Father's age
                input#student-sr-father-age(type="text" name="father-age" value=`${student.father.age}`)
                label(for="student-sr-mother-age") Mother's age
                input#student-sr-mother-age(type="text" name="mother-age" value=`${student.mother.age}`)  
                label(for="student-sr-father-qualification") Father's Qualification
                input#student-sr-father-qualification(type="text" name="father-qualification" value=`${student.father.qualification}`)
                label(for="student-sr-mother-qualification") Mother's Qualification
                input#student-sr-mother-qualification(type="text" name="mother-qualification" value=`${student.mother.qualification}`)   
                label(for="student-sr-father-occupation") Father's Occupation
                input#student-sr-father-occupation(type="text" name="father-occupation" value=`${student.father.occupation}`)
                label(for="student-sr-mother-occupation") Mother's Occupation
                input#student-sr-mother-occupation(type="text" name="mother-occupation" value=`${student.mother.occupation}`)                
                label(for="student-sr-address-permanent") Permanent Address
                input#student-sr-address-permanent(type="text" name="address-permanemt" value=student.address.permanent)
                label(for="student-sr-address-local") Local Address
                input#student-sr-address-local(type="text" name="address-local" value=student.address.local)
                label(for="student-sr-address-work") Business/Office Address
                input#student-sr-address-work(type="text" name="address-work" value=student.address.work)
                label(for="student-sr-occupation") Occupation
                input#student-sr-occupation(type="text" name="occupation" value=student.occupation)
                if(student.pg)
                    -const pg_admission= student.pg.admission?.toISOString().split('T')[0];
                    -const pg_passing = student.pg.passing?.toISOString().split('T')[0];
                    label(for="student-sr-pg_admission") PG Admission
                    input#student-sr-pg_admission(type="Date" name="pg_admission" value=pg_admission)
                    label(for="student-sr-pg_passing") PG Passing
                    input#student-sr-pg_passing(type="Date" name="pg_passing" value=pg_passing)
                if(student.lkg)
                    -const lkg_admission= student.lkg.admission?.toISOString().split('T')[0];
                    -const lkg_passing = student.lkg.passing?.toISOString().split('T')[0];
                    label(for="student-sr-lkg_admission") LKG Admission
                    input#student-sr-lkg_admission(type="Date" name="lkg_admission" value=lkg_admission)
                    label(for="student-sr-lkg_passing") LKG Passing
                    input#student-sr-lkg_passing(type="Date" name="lkg_passing" value=lkg_passing)
                if(student.ukg)
                    -const ukg_admission= student.ukg.admission?.toISOString().split('T')[0];
                    -const ukg_passing = student.ukg.passing?.toISOString().split('T')[0];
                    label(for="student-sr-ukg_admission") UKG Admission
                    input#student-sr-ukg_admission(type="Date" name="ukg_admission" value=ukg_admission)
                    label(for="student-sr-ukg_passing") UKG Passing
                    input#student-sr-ukg_passing(type="Date" name="ukg_passing" value=ukg_passing)
                -// console.log(student.one)
                if(student.one)
                    -const one_admission= student.one.admission?.toISOString().split('T')[0];
                    -const one_passing = student.one.passing?.toISOString().split('T')[0];
                    label(for="student-sr-one_admission") 1st Admission
                    input#student-sr-one_admission(type="Date" name="one_admission" value=one_admission)
                    label(for="student-sr-one_passing") 1st Passing
                    input#student-sr-one_passing(type="Date" name="one_passing" value=one_passing)
                if(student.two)
                    -const two_admission= student.two.admission?.toISOString().split('T')[0];
                    -const two_passing = student.two.passing?.toISOString().split('T')[0];
                    label(for="student-sr-two_admission") 2nd Admission
                    input#student-sr-two_admission(type="Date" name="two_admission" value=two_admission)
                    label(for="student-sr-two_passing") 2nd Passing
                    input#student-sr-two_passing(type="Date" name="two_passing" value=one_passing)
                if(student.three)
                    -const three_admission= student.three.admission?.toISOString().split('T')[0];
                    -const three_passing = student.three.passing?.toISOString().split('T')[0];
                    label(for="student-sr-three_admission") 3rd Admission
                    input#student-sr-three_admission(type="Date" name="three_admission" value=three_admission)
                    label(for="student-sr-three_passing") 3rd Passing
                    input#student-sr-three_passing(type="Date" name="three_passing" value=three_passing)
                if(student.four)
                    -const four_admission= student.four.admission?.toISOString().split('T')[0];
                    -const four_passing = student.four.passing?.toISOString().split('T')[0];
                    label(for="student-sr-four_admission") 4th Admission
                    input#student-sr-four_admission(type="Date" name="four_admission" value=four_admission)
                    label(for="student-sr-four_passing") 4th Passing
                    input#student-sr-four_passing(type="Date" name="four_passing" value=four_passing)
                if(student.five)
                    -const five_admission= student.five.admission?.toISOString().split('T')[0];
                    -const five_passing = student.five.passing?.toISOString().split('T')[0];
                    label(for="student-sr-five_admission") 5th Admission
                    input#student-sr-five_admission(type="Date" name="five_admission" value=five_admission)
                    label(for="student-sr-five_passing") 5th Passing
                    input#student-sr-five_passing(type="Date" name="five_passing" value=five_passing)
                if(student.six)
                    -const six_admission= student.six.admission?.toISOString().split('T')[0];
                    -const six_passing = student.six.passing?.toISOString().split('T')[0];
                    label(for="student-sr-six_admission") 6th Admission
                    input#student-sr-six_admission(type="Date" name="six_admission" value=six_admission)
                    label(for="student-sr-six_passing") 6th Passing
                    input#student-sr-six_passing(type="Date" name="six_passing" value=six_passing)
                if(student.seven)
                    -const seven_admission= student.seven.admission?.toISOString().split('T')[0];
                    -const seven_passing = student.seven.passing?.toISOString().split('T')[0];
                    label(for="student-sr-seven_admission") 7th Admission
                    input#student-sr-seven_admission(type="Date" name="seven_admission" value=seven_admission)
                    label(for="student-sr-seven_passing") 7th Passing
                    input#student-sr-seven_passing(type="Date" name="seven_passing" value=seven_passing)
                if(student.eight)
                    -const eight_admission= student.eight.admission?.toISOString().split('T')[0];
                    -const eight_passing = student.eight.passing?.toISOString().split('T')[0];
                    label(for="student-sr-eight_admission") 8th Admission
                    input#student-sr-eight_admission(type="Date" name="eight_admission" value=eight_admission)
                    label(for="student-sr-eight_passing") 8th Passing
                    input#student-sr-eight_passing(type="Date" name="eight_passing" value=eight_passing)
                
                -const last_class_ = student.last_class?.toISOString().split('T')[0];
                label(for="student-sr-last_class") Last Class
                input#student-sr-last_class(type="Date" name="last_class" value=last_class_)
                label(for="student-sr-phone_no1") Phone NO.
                input#student-sr-phone_no1(type="text" name="phone_no1" value=student.phone_number[0])
                label(for="student-sr-phone_no2") Alternate Phone No.
                input#student-sr-phone_no2(type="text" name="phone_no2" value=student.phone_number[1])
                label(for="student-sr-whatsapp_no") Whatsapp Phone No.
                input#student-sr-whatsapp_no(type="text" name="whatsapp_no" value=student.whatsapp_number)
                -const leave_date_ = student.leave_date?.toISOString().split('T')[0];
                label(for="student-sr-leave_date") Leave Date
                input#student-sr-leave_date(type="Date" name="leave_date" value=leave_date_)
                label(for="student-sr-remark") Remark
                input#student-sr-remark(type="text" name="remark" value=student.remark)
                label(for="student-sr-leave_reason") Leave Reason
                input#student-sr-leave_reason(type="text" name="leave_reason" value=student.leave_reason)
                label(for="student-sr-last_school") Last School
                input#student-sr-last_school(type="text" name="last_school" value=student.last_school)
                label(for="student-sr-brother_sister") Brother/Sister
                input#student-sr-brother_sister(type="text" name="brother_sister" value=student.brother_sister)
                input#submit-sr(type="submit" value ="Submit")    
            .doc-palette
                for docs in student.documents
                    .docs.center
                        a.download-doc-btn(href=docs.doc_link target="_blank")
                            if docs.description!=""
                                span= docs.description
                            else 
                                span Some Document
                        button.del-doc(id=docs.doc_id name=docs.name) Delete  
            form.get-form#document-upload-form.left
                p.center Upload Documents
                label(for="student-sr-upload-desc") Description
                input#upload-desc(type="text" placeholder="Enter description")
                input#upload-doc(type="file" accept="*" name="docs") 
                input(type="submit" value="Upload Document" name="submit")
        .margin5
            a#del-sr-record(href=`/api/v1/studentInfo/sr-delete/${student.sr}/${student.id}`)
                    button.option--btn.option--btn--small Delete Record
            if(student.sr==='LKG TO UKG')    
                a(href=`/studentInfo/sr-find/pg/NULL/${student.prev_sr_no}`)
                    button.option--btn.option--btn--small Prev Sr
            else if(student.sr==='1 TO 5')    
                a(href=`/studentInfo/sr-find/lkgtoukg/NULL/${student.prev_sr_no}`)
                    button.option--btn.option--btn--small Prev Sr
            else if(student.sr==='6 TO 8')
                a(href=`/studentInfo/sr-find/1to5/NULL/${student.prev_sr_no}`)
                    button.option--btn.option--btn--small Prev Sr 
            a(href=`/studentInfo/get-one/false/false/${student.name}/${student.father.name}`)
                button.option--btn.option--btn--small Get Fee Record
        span#student-sr-id= student.id
    else
        .form-div-data 
            form#get-student-sr-data.get-form.left.sr-add
                p.center Add Student Data
                label(for="student-sr-sr") Sr
                select#student-sr.student-sr-options(name="sr")
                    option(value="PG") PG
                    option(value="LKG TO UKG") LKG TO UKG
                    option(value="1 TO 5") 1 TO 5
                    option(value="6 TO 8") 6 TO 8
                label(for="student-sr-prev_sr_no") Prev Sr. No.
                input#student-prev_sr_no(type="text" name="prev_sr_no" value=NULL placeholder="Enter prev Sr No")
                label(for="student-sr-student") Student's name
                input#student-sr-name(type="text" name="student" placeholder="Enter the name")
                label(for="student-sr-dob") Date of birth
                input#student-sr-dob(type="Date" name="dob" placeholder="Enter DOB")
                label(for="student-sr-dob_in_word") Date of birth(in words)
                input#student-sr-dob_in_word(type="text" name="dob_in_word" placeholder="Enter DOB in words")
                label(for="student-sr-class") Class
                input#student-sr-class(type="text" name="class" placeholder="Enter Class of admission")
                label(for="student-sr-date_of_admission") Date of admission
                input#student-sr-date_of_admission(type="Date" name="date_of_admission" placeholder="Enter Date of admission")
                label(for="student-sr-sex") Sex
                input#student-sr-sex(type="text" name="sex" placeholder="Enter student's sex")
                label(for="student-sr-caste") Caste
                input#student-sr-caste(type="text" name="caste" placeholder="Enter Caste")
                label(for="student-sr-religion") Religion
                input#student-sr-religion(type="text" name="religion" placeholder="Enter Religion")
                label(for="student-sr-nationality") Nationality
                input#student-sr-nationality(type="text" name="nationality" placeholder="Enter Nationality")
                label(for="student-sr-category") Category
                input#student-sr-category(type="text" name="category" placeholder="Enter Category")
                label(for="student-sr-father-name") Father's name
                input#student-sr-father-name(type="text" name="father-name" placeholder="Enter Father's Name")
                label(for="student-sr-mother-name") Mother's name
                input#student-sr-mother-name(type="text" name="mother-name" placeholder="Enter Mother's Name")
                label(for="student-sr-father-age") Father's age
                input#student-sr-father-age(type="text" name="father-age" placeholder="Enter Father's Age")
                label(for="student-sr-mother-age") Mother's age
                input#student-sr-mother-age(type="text" name="mother-age" placeholder="Enter Mothers's Age")  
                label(for="student-sr-father-Qualification") Father's Qualification
                input#student-sr-father-qualification(type="text" name="father-qualification" placeholder="Enter Father Qualification")
                label(for="student-sr-mother-qualification") Mother's Qualification
                input#student-sr-mother-qualification(type="text" name="mother-qualification" placeholder="Enter Mother's Qualification")   
                label(for="student-sr-father-occupation") Father's Occupation
                input#student-sr-father-occupation(type="text" name="father-occupation" placeholder="Enter Father's Occupation")
                label(for="student-sr-mother-occupation") Mother's Occupation
                input#student-sr-mother-occupation(type="text" name="mother-occupation" placeholder="Enter Mother's Occupation")                
                label(for="student-sr-address-permanent") Permanent Address
                input#student-sr-address-permanent(type="text" name="address-permanemt" placeholder="Enter Permanent Address")
                label(for="student-sr-address-local") Local Address
                input#student-sr-address-local(type="text" name="address-local" placeholder="Enter Local Address")
                label(for="student-sr-address-work") Business/Office Address
                input#student-sr-address-work(type="text" name="address-work" placeholder="Enter Business/Office address")
                label(for="student-sr-occupation") Occupation
                input#student-sr-occupation(type="text" name="occupation" placeholder="Enter Occupation")
                
                label.play_group(for="pg_admission") PG Admission
                input.play_group#student-sr-pg_admission(type="Date" name="pg_admission" placeholder="PG Admission date")
                label.play_group(for="pg_passing") PG Passing
                input.play_group#student-sr-pg_passing(type="Date" name="pg_passing" placeholder="PG Admission date")
                
                label.pre_primary.invisible(for="lkg_admission") LKG Admission
                input.pre_primary.invisible#student-sr-lkg_admission(type="Date" name="lkg_admission" placeholder="LKG Admission date")
                label.pre_primary.invisible(for="lkg_passing") LKG Passing
                input.pre_primary.invisible#student-sr-lkg_passing(type="Date" name="lkg_passing" placeholder="LKG Admission date")
                
                label.pre_primary.invisible(for="ukg_admission") UKG Admission
                input.pre_primary.invisible#student-sr-ukg_admission(type="Date" name="ukg_admission" placeholder="UKG Admission date")
                label.pre_primary.invisible(for="ukg_passing") UKG Passing
                input.pre_primary.invisible#student-sr-ukg_passing(type="Date" name="ukg_passing" placeholder="UKG Admission date")
        
                label.primary.invisible(for="one_admission") 1st Admission
                input.primary.invisible#student-sr-one_admission(type="Date" name="one_admission" placeholder="1st Admission date")
                label.primary.invisible(for="one_passing") 1st Passing
                input.primary.invisible#student-sr-one_passing(type="Date" name="one_passing" placeholder="1st Admission date")
        
                label.primary.invisible(for="two_admission") 2nd Admission
                input.primary.invisible#student-sr-two_admission(type="Date" name="two_admission" placeholder="2nd Admission date")
                label.primary.invisible(for="two_passing") 2nd Passing
                input.primary.invisible#student-sr-two_passing(type="Date" name="two_passing" placeholder="2nd Passing date")

                label.primary.invisible(for="three_admission") 3rd Admission
                input.primary.invisible#student-sr-three_admission(type="Date" name="three_admission" placeholder="3rd Admission date")
                label.primary.invisible(for="three_passing") 3rd Passing
                input.primary.invisible#student-sr-three_passing(type="Date" name="three_passing" placeholder="3rd Passing date")
        
                label.primary.invisible(for="four_admission") 4th Admission
                input.primary.invisible#student-sr-four_admission(type="Date" name="four_admission" placeholder="4th Admission date")
                label.primary.invisible(for="four_passing") 4th Passing
                input.primary.invisible#student-sr-four_passing(type="Date" name="four_passing" placeholder="4th Passing date")
        
                label.primary.invisible(for="five_admission") 5th Admission
                input.primary.invisible#student-sr-five_admission(type="Date" name="five_admission" placeholder="5th Admission date")
                label.primary.invisible(for="five_passing") 5th Passing
                input.primary.invisible#student-sr-five_passing(type="Date" name="five_passing" placeholder="5th Passing date")

                label.upper_primary.invisible(for="six_admission") 6th Admission
                input.upper_primary.invisible#student-sr-six_admission(type="Date" name="six_admission" placeholder="6th Admission date")
                label.upper_primary.invisible(for="six_passing") 6th Passing
                input.upper_primary.invisible#student-sr-six_passing(type="Date" name="six_passing" placeholder="6th Passing date")

                label.upper_primary.invisible(for="seven_admission") 7th Admission
                input.upper_primary.invisible#student-sr-seven_admission(type="Date" name="seven_admission" placeholder="7th Admission date")
                label.upper_primary.invisible(for="seven_passing") 7th Passing
                input.upper_primary.invisible#student-sr-seven_passing(type="Date" name="seven_passing" placeholder="7th Passing date")

                label.upper_primary.invisible(for="eight_admission") 8th Admission
                input.upper_primary.invisible#student-sr-eight_admission(type="Date" name="eight_admission" placeholder="8th Admission date")
                label.upper_primary.invisible(for="eight_passing") 8th Passing
                input.upper_primary.invisible#student-sr-eight_passing(type="Date" name="eight_passing" placeholder="8th Passing date")
                label(for="student-sr-phone_no1") Phone NO.
                input#student-sr-phone_no1(type="text" name="phone_no1" placeholder="Enter Phone Number")
                label(for="student-sr-phone_no2") Alternate Phone No.
                input#student-sr-phone_no2(type="text" name="phone_no2" placeholder="Enter Alternate Phone Number")
                label(for="student-sr-whatsapp_no") Whatsapp Phone No.
                input#student-sr-whatsapp_no(type="text" name="whatsapp_no" placeholder="Enter Whatsapp Number")
                label(for="student-sr-last_class") Last Class
                input#student-sr-last_class(type="Date" name="last_class" placeholder="Last class date")
                label(for="student-sr-leave_date") Leave Date
                input#student-sr-leave_date(type="Date" name="leave_date" placeholder="Leave class date")
                label(for="student-sr-leave_reason") Leave Reason
                input#student-sr-leave_reason(type="text" name="leave_reason" placeholder="Leave class reason")
                label(for="student-sr-remark") Remark
                input#student-sr-remark(type="text" name="remark" placeholder="Last class remark")
                label(for="student-sr-last_school") Last School
                input#student-sr-last_school(type="text" name="last_school" placeholder="Enter Last School")
                label(for="student-sr-brother_sister") Brother/Sister
                input#student-sr-brother_sister(type="text" name="brother_sister" placeholder="Brother/Sister")
                input#submit-sr(type="submit" value ="Submit")    