extend base

mixin datechanger(date_change,val)
    -let data = date_changer
    
    -if(date_change!=undefined)
        -data=date_change.toISOString().split('T')[0];
    -// console.log(`${data}*`);    
    input(type="date" class=`month` value=data name=`${val}`) 


block content
    .form-div-data
        form#get-student-data.get-form
            label(for="student-year") Year
            input#student-year(type="text" value=`${student.year}` name="year")
            label(for="student-roll_no") Roll No.
            input#student-roll_no(type="text" value=`${student.roll_no}` name="roll_no")
            label(for="student-class") Class
            select#student-class.student-class-select(name="Enter-class")
                option(value=student.class_code selected)= student.class
                option(value="0") PG
                option(value="1") LKG
                option(value="2") UKG
                option(value="3") 1st
                option(value="4") 2nd
                option(value="5") 3rd
                option(value="6") 4th
                option(value="7") 5th
                option(value="8") 6th
                option(value="9") 7th
                option(value="10") 8th
            label(for="student-student") Student's name
            input#student-name(type="text" name="student" value=`${student.name}`)
            label(for="student-father") Father's name (Please use MR. )
                
            input#student-father(type="text" name="father" value=`${student.father_name}`)
            label(for="student-dob") Date of birth
            if(student.dob)
                - const dob_=student.dob.toISOString().split('T')[0]
            input#student-dob(type="Date" name="dob" value=dob_)
            label(for="student-gender") Gender
            input#student-gender(type="text" name="gender" value=`${student.gender}`)
            label(for="student-religion") Religion
            input#student-religion(type="text" name="religion" value=`${student.religion}`)
            label(for="student-category") Category
            input#student-category(type="text" name="category" value=`${student.category}`)
            label(for="student-age") Age
            input#student-age(type="Date" name="age")
            button#discount.discount-btn Discount
            br.discount-option.invisible
            label.invisible.discount-option(for="student-discount") Discount in %
            input.invisible#student-discount.discount-option(type="Number" name="discount" value=0)
            br
            if(!student.leave)
                input#student-leave.right(type="checkbox", name="leave" checked)
            else
                input#student-leave.right(type="checkbox", name="leave")
        .month-palet
            each val in ['april','may','june','july','august','september','october','november','december','january','february','march']
                .month-info-palet
                    -let v=`${val}`;
                    -v=v[0].toUpperCase()+v.slice(1);
                        label(for="month" class=`monthLable`)=v
                        +datechanger(student[`${val}`] ,val)               
        input#submit-all(type="submit" name="submit" value="Submit")
        br
        br
        br
        if(student.dob)
            a(href=`/studentInfo/sr-find-fee/${student.name}/${student.father_name}/${dob_}`)
                button.option--btn.option--btn--small Sr  
        else 
            a(href=`/studentInfo/sr-find-fee/${student.name}/${student.father_name}/NULL`)
                button.option--btn.option--btn--small Sr 
        button#delete-fees.option--btn.option--btn--small Delete 
        br
        br
        br
