doctype html
html 
    head 
        block head 
            meta(charset="UTF-8")
            meta(name="viewport" content='width=device-width,initial-scale=1.0')
            link(rel='stylesheet' href="/css/style.css")
            link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
            link(rel="stylesheet" media="screen and (max-width: 600px)" href="/css/smallscreen.css")
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            <link href="https://fonts.googleapis.com/css2?family=Pushster&display=swap" rel="stylesheet">
            title VSEC || KANPUR 

mixin datechanger(date_change)
    -let data = date_changer
    -if(date_change!=undefined)
        -data=date_change.toLocaleString('en-us', {day:'numeric',month: 'long', year: 'numeric'})
        td=data
    -else
        td=data

    

block content   
    .extender
        table(border="2")
            tr
            th Year 
            th Class 
            th Roll No.
            th Name
            th Father Name
            th Date of birth
            th January
            th Febraury 
            th March
            th April 
            th May 
            th June 
            th July 
            th August 
            th September
            th October
            th November
            th December
                each student in students 
                    tr
                    td=student.year
                    td=student.class
                    td=student.roll_no
                    td=student.name
                    td=student.father_name
                    +datechanger(student.date_of_birth)
                    +datechanger(student.april)
                    +datechanger(student.may) 
                    +datechanger(student.june) 
                    +datechanger(student.july)
                    +datechanger(student.august) 
                    +datechanger(student.september)
                    +datechanger(student.october)
                    +datechanger(student.november)
                    +datechanger(student.december)
                    +datechanger(student.january)
                    +datechanger(student.febraury) 
                    +datechanger(student.march)